<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="IcsMunger">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <php>
        <var name="DB_HOST" value="127.0.0.1"/>
        <var name="DB_PORT" value="3306"/>
        <var name="DB_USER" value="root"/>
        <var name="DB_PASSWORD" value=""/>
        <var name="DB_DBNAME" value="phpunit_icsmunger"/>
        <var name="DB_SCHEMA_PATH" value="../schema"/>
    </php>
</phpunit>
